body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@font-face {
    font-family: "winner";
    src: url(font/sportsfonts\ -\ Winner\ Sans\ Cond\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background1 {
    background: url(klipartz.com.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#background2 {
    background: url(pubg\ wallpaper\ hd\ 4k.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(243, 171, 0, 255) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: .4s;
}

body {
    background: url(FILE178.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-family: "winner";
}